body{
background-image: url(./bilder/powerwolf_bandfoto.jpg);

}
h1 {
    font-family: 'Open Sans', sans-serif;
    color: white;
}
p {
    font-family: 'Roboto Condensed', sans-serif;
    color: white;

}
img