/* Enkel CSS-reset */
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body, h1, h2, h3, h4, h5, h6, p, ul {
    margin: 0;
    padding: 0;
}



.kontainer {
    font-family: 'Anton', sans-serif;
}

/* Sidhuvudets utseende */
.sidhuvud {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
}
.sidhuvud img {

}
.sidhuvud ul {
    list-style-type: none; /* Tar bort punkterna */
    margin: 30px 30px 0 0;
}
.sidhuvud li {
    display: inline;
    margin-left: 60px;
}
.sidhuvud li a {
    text-decoration: none;
    color: #682F1C;
    font-size: 24px;
    text-transform: uppercase;
}
.sidhuvud li a:hover {
    color: #B6978A;
}
.sidhuvud li a.aktiv {
    color: #F7A600;
}

/* Rutornas utseened */
/* Ljus #FEF1E5 */
/* Mörk #EFDAC5 */
.rutor {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}
.ljus {
    background: #FEF1E5;
}
.mörk {
    background: #EFDAC5;
}
.rutor .burgare h1 {
}

.rutor .burgare h2 {
    font-family: 'Courgette', cursive;
}

.rutor .burgare p {
}

.rutor .burgare img {

}
.rutor .burgare img:hover {

}